<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        {% include 'header_menu.html' %}
         
    
        <section class="section">
            <h2 class="section-header">About me</h2>
        
            <p class="author-name">VICI :)</p>
            <div class="entry-content">
                <p style="text-align:center;"><a href="static/anh2.jpg"><img  src="static/anh2.jpg?w=567&amp;h=426" alt="_sailormoon_26" width="567" height="426" sizes="(max-width: 567px) 100vw, 567px"></a></p>
                <p> <b>EM CÓ THỂ QUÊN RẤT NHIỀU THỨ, CHỨ ĐỪNG QUÊN BẢN THÂN MÌNH !</b></p>
                <p>

                    Em có thể là một người quảng giao, lúc nào cũng cười nói vui vẻ với mọi người. Nhưng khi đã mệt mỏi, hãy cứ cho phép mình được ngồi lại một góc nhỏ, yên lặng. Bản thân thấy không vui thì đừng ép mình quá, bởi lâu dần cảm xúc chai sạn, muốn tìm lại nụ cười cũng thật khó.
                    
                    Em có thể là một người trầm lặng hiểu chuyện, ai em cũng có thể lắng nghe. Nhưng khi bản thân không muốn, hãy cứ dám nói không, không phải lúc này, nhé! Con người hiện đại luôn tự đè lên vai mình một thứ áp lực vô hình, đó là không được tỏ ra mệt mỏi. Nhưng thôi kệ người ta. Lúc mệt mà cứ lơ đi cảm xúc của mình, lo cho người khác, rồi tới lúc mình mỏi quá chẳng có điểm tựa, sẽ không ai đỡ nổi đâu.
                    
                    Em có thể làm nhiều thứ cho người khác, vậy hãy làm gì đó cho mình. Ít nhất thì cũng phải tự biết chăm sóc, tự biết khỏe mạnh, tự biết chữa lành, không thì nhờ giúp đỡ. Tôi đã thấy nhiều người chỉ giỏi lo chuyện người ta, đến chuyện mình thì chẳng biết làm sao, không dám nhờ ai giúp đỡ vì đã quen tỏ ra mạnh mẽ quá rồi.
                    
                    Vui, buồn, cười, khóc, yêu, ghét, muốn cảm nhận được đều là do bản thân mình. Quên đi tiếng lòng mình khác gì quên đi cuộc đời, sống như một chiếc lá xa cành, bay đi đâu đều bỏ mặc cho gió đâu ? Nghĩ cho mình một chút, nghĩ cho cảm giác của mình nhiều hơn, thương mình nhiều hơn.</p>
                
                
        </section>   
            
        <footer class="footer">
            <hr>
            <p class="copy-right">VICI Blog</p>
        </footer>
    
    </body>
</html>
